[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
scikit-learn = "==1.4.1.post1"
gunicorn = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.19"
